<h1>Productos en Tiempo Real</h1>
<ul id="product-list">
{{#each products}}
    <li><strong>{{title}}</strong> - ${{price}}</li>
{{/each}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script>
const socket = io();

socket.on('updateProducts', (products) => {
    const list = document.getElementById('product-list');
    list.innerHTML = '';
    products.forEach(p => {
    const li = document.createElement('li');
    li.innerHTML = `<strong>${p.title}</strong> - $${p.price}`;
    list.appendChild(li);
    });
});
</script>
